/* UNIVERSAL */
html {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.nav-container,
.banner-container,
main,
.footer-container {
  font-family: "Lato", sans-serif;
  color: #494949;
}

.left-container {
  background-color: lightblue;
  width: 60%;
  overflow: hidden;
}

.left-container img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  max-width: 100%;
}

.right-container {
  background-color: lightyellow;
  line-height: 1.5;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 30%;
}

/* HEADER */
header .nav-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .colmar,
header .academy {
  font-size: 1.15rem;
}

header .colmar {
  font-weight: bold;
}

header .academy {
  font-weight: 100;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin-left: 1rem;
}

/* BANNER */
.banner-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #cccccc;
  width: 100%;
  margin: 0 auto;
}

/* see universal section for "left-container" styling */
/* see universal section for "right-container" styling */

.banner-container .right-container h1 {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.25;
}

.banner-container .right-container h3 {
  font-size: 1.15rem;
  margin-top: 2rem;
}

.banner-container .right-container .button {
  color: white;
  background-color: #494949;
  display: block;
  margin-top: 2rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.banner-container .right-container span {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* MAIN--top */
main .basic-info-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

  /* (see universal section for left container styling) */

main .basic-info-container .left-container {
    border-right: lightgrey solid 1px;
  }

main .basic-info-container .left-container .text-container {
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 100%;
}

main .basic-info-container .left-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

main .basic-info-container .left-container .quote {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

main .basic-info-container .left-container .quote-citation {
  font-size: .75rem;
  line-height: 1.5;
}

main .basic-info-container .left-container .quote,
main .basic-info-container .left-container .quote-citation {
  display: block;
}

main .basic-info-container .right-container .menu {
  display: flex;
  flex-direction: column;
}

main .basic-info-container .right-container .menu-item {
  display: flex;
  align-items: center;
  border-bottom: lightgrey solid 1px;
}

main .basic-info-container .right-container .menu-item img {
  width: 35%;
  margin: 1rem 1rem;
}

main .basic-info-container .right-container .menu-item h4 {
  font-size: 1.15rem;
}

main .basic-info-container .right-container .menu-item h5 {
  font-size: 1rem;
  font-weight: lighter;
  padding-bottom: 1.15rem;
}

main .right-container a {
  color: #4580d8;
  font-weight: lighter;
}

/* MAIN--middle */
main .start-learning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #cccccc;
}

main .section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main .curriculum-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 80%;
  background-color: lightyellow;
}

main .curriculum-subject {
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: hidden;
  background-color: white;
}

main .curriculum-subject img {
  max-width: 100%;
  height: auto;
  display: block;
}

main .curriculum-subject .text-container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* MAIN--bottom */
main .thesis-exhibit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
main .thesis-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: #cccccc;
  width: 100%;
  margin: 0 auto;
}

main .left-container video {
  margin: 2rem 1.5rem;
  max-width: 100%;
  height: auto;
  display: block;
}

/* FOOTER */

footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: lightgrey solid 1px;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer nav ul {
  display: flex;
  align-items: center;
}

footer nav ul li {
  margin-left: 1rem;
}
